---
    import Github from "../atoms/Github.astro"
    import Linkedin from "../atoms/Linkedin.astro"
    import Instagram from "../atoms/Instagram.astro"
---

<footer id="footer">
    <nav>
        <ul>
            <li>
                <a href="#home">Home</a>
            </li>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#work">Work</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="https://github.com/TygoWolven">Github</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/tygo-wolven-091515241/">Linkedin</a>
            </li>
            <li>
                <a href="https://www.instagram.com/tygowolvenn_/">Instagram</a>
            </li>
        </ul>
    </nav>
    <p id="copyright">Designed and developed by me &copy; 2024 All Rights Reserved.</p>
</footer>

<style>
    footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: var(--spacing);
        position: relative;
        z-index: 100;

        & nav {
            & ul {
                display: flex;
                justify-content: center;

                & li {
                    margin: 0 calc(var(--spacing) / 2);
                }
            }
            & ul:last-of-type {
                margin: calc(var(--spacing) / 2) 0;
            }
        }
	}

    #copyright {
        align-self: flex-end;
        max-width: 24ch;
        text-align: right;
    }
</style>